//====================================
// Colors
//====================================
$primary: #EE2255;
$secondary: #3DBE98;
$third:#FFFFFF;
$section-background: #EBEDA433;
$fill:rgba(0, 0, 0, 0.45);
//====================================